.dialog {
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  fieldset {
    border: none;
  }
}

.heading {
  margin: 0 0 20px;

  text-align: center;
  font-size: 1.25rem;
}

.field {
  margin-bottom: 10px;

  label {
    margin-bottom: 4px;
    display: block;

    font-size: 0.875rem;
  }

  &.type {
    display: flex;
    gap: 20px;
  }
}

.direction,
.frequency {
  border: none;

  label {
    font-size: 1rem;
  }
}

.styled-radio {
  width: 100%;

  input {
    width: 1px;
    height: 1px;
    appearance: none;
    position: absolute;
    top: -999px;
    left: -999px;

    &:checked + label {
      background-color: var(--primary);
      color: #ffffff;
    }
  }

  label {
    padding: 10px 4px;
    cursor: pointer;

    text-align: center;
    border-radius: 4px;
  }
}

.description {
  width: 100%;
  padding: 4px 6px;

  border: 1px solid var(--black);
  border-radius: 4px;
}

.category {
  width: 100%;
  padding: 4px 6px;

  border: 1px solid var(--black);
  border-radius: 4px;
}

.date {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 6px;

  border: 1px solid var(--black);
  border-radius: 4px;
}

.cancel {
  width: 100%;
  margin-top: 8px;
  padding: 4px;

  background: none;
  border: none;
  text-align: center;
  text-decoration: underline;
}
